<% content_for :left do %>
<img src="/images/update/nav_01.gif" />
<ul>
 <% @categories.each do |c|%>
 <li class="<%='active' if @category && @category.id == c.id %>"><a href="/blogs"><%=c.name %></a></li> 
 <% end %>
</ul>
<a href="/comments"><img src="/images/update/nav_03.gif" /></a>
<% end %>

<img src="/images/mainimg/main_dt.png" border="0" />
	<%=render :partial => "share/float_nav" %>

  <p><a href="http://www.qingfengshanzhai.com">西安农家乐</a>><a href="/blogs">山寨动态</a></p>
  <div class="blog_list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td colspan="3" class="list_news"><table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td width="60%">标题</td>
					<td width="12%">作者</td>
					<td width="28%">时间</td>
				  </tr>
				</table></td>
				</tr>
				<% @blogs.each do |blog|%>
			  <tr>
					<td width="64%" class="line"><a href="/blogs/<%=blog.id %>" title="有关西安农家乐的详细新闻信息<%=blog.title %>"><%=blog.title %></a></td>
					<td width="16%" class="line"><%=blog.site.user.username %></td>
					<td width="20%" class="line"><%=blog.created_at.strftime("%Y-%m-%d")%></td>
			  </tr>
				<% end %>

		</table>

		<%=will_paginate @blogs %>
	</div>
