<% content_for :left do %>
<img src="/images/update/nav_01.gif" />
<ul>
 <li class="active"><a href="http://www.qingfengshanzhai.com/pages/1">联系我们</a></li> 
 <li><a href="http://www.qingfengshanzhai.com/pages/2">行车路线</a></li>
 <li><a href="http://www.qingfengshanzhai.com/comments">在线留言</a></li>
</ul>
<a href="/comments"><img src="/images/update/nav_03.gif" /></a>
<% end %>

<img src="/images/mainimg/main_ly.png" border="0" alt-"西安农家乐的留言板图片" />
<%=render :partial => "share/float_nav" %>
<p><a href="/">首页</a>><a href="collection.html">给我留言</a></p>
<div class="my_comment">
	<%= form_for(@site_comment) do |f| %>
	<% if !flash[:error].blank? %>
	<div style="color:red;">
		<h3>提交留言发生了以下错误：</h3>
    <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
    <% end %>	
	</div>
	<% elsif !flash[:notice].blank? %>
	<div style="color:green;">
    <% flash[:notice] %>
	</div>
	<% end %>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="11%" align="right">内 容：</td>
			<td width="89%"><%=f.text_area :question , :class => "form" %></td>
		</tr>
		<tr>
			<td align="right">姓 名：</td>
			<td><%=f.text_field :username , :class => "text" %></td>
		</tr>
		<tr>
			<td align="right">电 话：</td>
			<td><%=f.text_field :phone , :class => "text" %> （仅管理员可见）</td>
		</tr>
		<tr>
			<td align="right">Email：</td>
			<td><%=f.text_field :email , :class => "text" %> （可不填，仅管理员可见）</td>
		</tr>
		<tr>
			<td align="right">&nbsp;</td>
			<td><%=f.submit "提交", :class => "icon_07" %></td>
		</tr>
	</table>
	<% end %>
</div> 
<div class="comment">
  <ul>
	<% @comments.each do |comment| %>
		<li>
		  <span><%=comment.username %> <%=comment.created_at.strftime("%Y-%m-%d %H:%m")%></span>
		  <h3><%=comment.question %></h3>
			<% if !comment.answer.blank? %>
		  回复
		  <h4><%=comment.answer %></h4>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>