<div class="product">
	  <ul>
			<% @channel.site_channel_modules.each_with_index do |m,i|%>
			<% if i == 0 %>
		  <li><img src="/images/update/fj_03.png" />
		  <h2><%=m.name %></h2>
			  <%=raw m.content %>
		  </li>
			<% elsif i == 1 %>
		  <li>
			  <h2><%=m.name %></h2>
			  <%=raw m.content %>
			  <img src="/images/update/fj_07.png" />
			</li>
		  <% elsif i == 2 %>
			<li>
				<img src="/images/update/fj_10.png" />
		  	<h2><%=m.name %></h2>
			  <%=raw m.content %>
		  </li>
			<% end %>
			<% end %>
	  </ul>
</div>