<% content_for :left do %>
<img src="/images/update/nav_01.gif" alt="西安农家乐的栏目分类信息" />
<ul>
 <li class="active"><a href="/yl">客房照片</a></li> 
 <% @channel.site_channel_modules.each do |m| %>
 <li><%=m.name %></li>
 <% end %>
</ul>
<a href="/comments"><img src="images/update/nav_03.gif" alt="点击进入西安清风山寨农家乐的留言板信息" /></a>	
<% end %>

<img src="/images/mainimg/main_yl.png" border="0" />
<%=render :partial => "share/float_nav" %>

<p><a href="/">首页</a>&gt;<a href="/yl"><%=@channel.name %></a></p>
<div class="photos_box">
<script type="text/javascript" src="/javascripts/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.pikachoose.full.js"></script>
		<script language="javascript">
			$(document).ready(function (){
					$("#pikame").PikaChoose({carousel:true, carouselVertical:true});
				});
		</script>
<div class="pikachoose">
	<ul id="pikame" class="jcarousel-skin-pika">
		<% @channel.site_pictures.each do |p|%>		
		<li><a href="#"><img src="<%=p.pic.url(:big) %>" width="500" height="320"/></a></li>
		<% end %>
	</ul>
</div>
</div>

<% @channel.site_channel_modules.each do |scm|%>
<div class="photos_box" id="scm_<%=scm.id %>">
	<%=raw scm.content %>
</div>
<% end %>	

