<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= display_meta_tags :site => '西安农家乐－汤峪清风山寨' , :separator => "-", :reverse => false %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.3.min.js' %>
  <%= javascript_include_tag 'rails' %>
	<!--[if lte IE 6]>
      <script type="text/javascript" src="js/DD_belatedPNG-min.js"></script>
      <script type="text/javascript">
          DD_belatedPNG.fix('.png, img');
      </script>
  <![endif]-->
</head>

<body>
<div class="wrapper">
	<div id="header"><a href="http://www.qingfengshanzhai.com"><img src="/images/temp/logo.gif" alt="西安农家乐-清风山寨的logo" /></a>
		<div class="header_nav">
			<a href="http://www.qingfengshanzhai.com" class="nav_01<%=' active png' if @nav == 'index'%>">首页</a>
			<a href="http://www.qingfengshanzhai.com/yl" class="nav_02<%=' active png' if @nav == 'yl'%>">娱乐项目</a>
			<a href="http://www.qingfengshanzhai.com/ms" class="nav_03<%=' active png' if @nav == 'ms'%>">特色美食</a>
			<a href="http://www.qingfengshanzhai.com/zs" class="nav_03<%=' active png' if @nav == 'zs'%>">温馨住宿</a>
			<a href="http://www.qingfengshanzhai.com/zb" class="nav_04<%=' active png' if @nav == 'zb'%>">周边风景</a>
			<a href="http://www.qingfengshanzhai.com/blogs" class="nav_05<%=' active png' if @nav == 'blogs'%>">山寨动态</a>
		</div>
	</div><!-- header -->
  <div id="main">
	  <div class="left">
			<%= yield :left %>
		</div>
		<div class="content index_content">
			<%=yield %>
		</div>
  </div>
	<div id="footer">
		<img src="/images/update/footer.gif" />
		<a href="http://www.qingfengshanzhai.com" class="foot_logo"><img src="/images/temp/foot_logo.gif" alt="清风山寨-西安农家乐" /></a>
		<p>
			<% SiteLink.all.each do |sl| %>
			<a href="<%=sl.url %>"><%=sl.title %></a>/
			<% end %>
			<a href="http://www.danongjia.com/">大农家网</a>/
			<a href="http://www.qingfengshanzhai.com">西安农家乐</a>
			<br />
			Copyright © 2010 QingFengShanZhai.com&nbsp;&nbsp;京ICP备09082708号-2
		</p>
	</div>
	<div style="display:none;">
<script src="http://s21.cnzz.com/stat.php?id=3077199&web_id=3077199" language="JavaScript"></script>		
	</div>
</div>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function($){ 
	$(".qq_main").hide();
	$(".show_qq").hover(function(){
		$(".show_qq").hide();
		$(".qq_main").show();
	});
	$("div.qq_main").hover(function(){
		$(".show_qq").hide();
		$(".qq_main").show();
	},function(){
		$(this).hide();
		$(".show_qq").show();
	});
});		
</script>
<div class="qq_all">
	<div class="show_qq"><img src="images/icons/qq_1.png" /></div>
	<div class="qq_main">
		<div class="qq_top"></div>
		<div class="qq_content">
			<h2>在线客服</h2>
			<ul>
				<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=309407890&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:309407890:45" alt="点击这里给我发消息" title="点击这里给我发消息">在线咨询</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
